<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.appinfo.AppInfoMapper">

    <sql id="commonSql">
        FROM app_info a
        LEFT JOIN app_version v
        ON v.id = a.versionId
        LEFT JOIN dev_user u ON 1=1
        <trim prefix="where" prefixOverrides="and | or">
            <if test="softwareName != null and softwareName!=''">
                and a.softwareName like '%${softwareName}%'
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="flatformId != null">
                and a.flatformId = #{flatformId}
            </if>
            <if test="categoryLevel1 != null">
                and a.categoryLevel1 = #{categoryLevel1}
            </if>
            <if test="categoryLevel2 != null">
                and a.categoryLevel2 = #{categoryLevel2}
            </if>
            <if test="categoryLevel3 != null">
                and a.categoryLevel3 = #{categoryLevel3}
            </if>
            <if test="devId != null">
                and a.devId=#{devId}
            </if>
        </trim>
    </sql>

    <select id="getAppListPage" resultType="AppInfo">
        SELECT a.softwareName,a.APKName,a.softwareSize,a.flatformId,
        a.categoryLevel1,
        a.categoryLevel2,
        a.categoryLevel3,
        a.status,
        a.downloads,
        v.versionNo
        <include refid="commonSql"/>
        limit #{currentPage},#{pageSize}
    </select>

    <select id="getCategoryNameById" resultType="string">
        SELECT categoryName
        FROM app_category
        WHERE id = #{id}
    </select>

    <select id="getAppListPageCount" resultType="Integer">
        select count(*)
        <include refid="commonSql"/>
    </select>

    <select id="getAllTypeNameByTypeCode" resultType="DataDictionary">
        SELECT id,typeCode,typeName,valueId,valueName,createdBy,creationDate,modifyBy,modifyDate
        FROM data_dictionary
        <if test="typeCode != null and typeCode != ''">
            where typeCode = #{typeCode}
        </if>
    </select>

    <select id="getAppCategoryListByParentId" resultType="AppCategory">
        SELECT id,categoryCode,categoryName,parentId,createdBy,creationTime,modifyBy,modifyDate
        FROM app_category
        <if test="parentId != null">
            where parentId = #{parentId}
        </if>
    </select>

    <select id="getOneAppInfo" resultType="AppInfo">
        select *
        from app_info
        where APKName = #{APKName}
    </select>

    <insert id="appInfoAddSave">
        insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
                              devId,appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,
                              categoryLevel3,downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
        values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},
               #{softwareSize},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
               #{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},
               #{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
    </insert>

</mapper>
